alias("ODM:$(LOCA):100:Channel1O2", "ODM:$(LOCA):101:Air:O2")
alias("ODM:$(LOCA):100:Channel2O2", "ODM:$(LOCA):102:Air:O2")
alias("ODM:$(LOCA):100:Channel3O2", "ODM:$(LOCA):103:Air:O2")
alias("ODM:$(LOCA):100:Channel0O2", "ODM:$(LOCA):10x:Air:O2")

