record(bi, "$(dtype):$(area):$(position):$(attribute)") {
  field(DESC, "$(description)")
  field(SCAN, "I/O Intr")
  field(DTYP, "asynUInt32Digital")
  field(INP,  "@asynMask($(port), $(bit), 1, 1)")
  field(ZNAM, "$(zname)")
  field(ONAM, "$(oname)")
  field(ZSV,  "$(zsv)")
  field(OSV,  "$(osv)")
  info(autosaveFields_pass0, "SEVR")
}
