record(bo, "$(dtype):$(area):$(position):$(attribute)") {
  field(DESC, "$(description)")
  field(DTYP, "asynUInt32Digital")
  field(OUT,  "@asynMask($(port), $(bit), 1, 1)")
  field(ZNAM, "$(zname)")
  field(ONAM, "$(oname)")
}

