record(longout, "$(dtype):$(areapos):REQ_TABLE") {
	field(DESC, "Table to read/write")
	field(VAL, "$(tabval=9)")
	field(OUT, "$(dtype):$(areapos):REQ_TABLE_OUT PP")
	field(HOPR, "128")
	field(LOPR, "0")
	field(PINI, "YES")
	info(autosaveFields, "VAL")
}

# All the data we're interested in is: Tables 1 and 9, segment 1
# We only need table 1 once for check sums that don't change, so
# read it for a short time during startup, then switch to table 9.
record(calcout, "$(dtype):$(areapos):TABLE_CYCLER")
{
	field( OUT, "$(dtype):$(areapos):REQ_TABLE PP")
	field( CALC, "A:=(A+1)%360;A=10?1:9")
	field( INPA, "0")
	field( SCAN, "5 second")
}

record(calcout, "$(dtype):$(areapos):SEG_CYCLER")
{
	field( OUT, "$(dtype):$(areapos):REQ_SEG PP")
	field( CALC, "1")
	field( INPA, "0")
	field( SCAN, "10 second")
}

# Records for disabling PVs when their reqest table isn't active
record(calc, "$(dtype):$(areapos):TABLE_9_SEG_1")
{
	field( INPA, "$(dtype):$(areapos):REQ_TABLE CP")
	field( INPB, "$(dtype):$(areapos):REQ_SEG CP")
	field( INPC, "$(dtype):$(areapos):REQ_TABLE_IN CP")
	field( INPD, "$(dtype):$(areapos):REQ_SEG_IN CP")
	field(CALC, "A=9 & B=1 & C=9 & D=1")
}

record(calc, "$(dtype):$(areapos):TABLE_1_SEG_1")
{
	field( INPA, "$(dtype):$(areapos):REQ_TABLE CP")
	field( INPB, "$(dtype):$(areapos):REQ_SEG CP")
	field( INPC, "$(dtype):$(areapos):REQ_TABLE_IN CP")
	field( INPD, "$(dtype):$(areapos):REQ_SEG_IN CP")
	field(CALC, "A=1 & B=1 & C=1 & D=1")
}

# The target PVs don't use the data, but this has 8 forward links,
# the number we need, while the fanout record only has 6.
record(dfanout, "$(dtype):$(areapos):REQ_TABLE_OUT") {
	field(OUTA, "$(dtype):$(areapos):REQ_TABLE_BIT0_CALC.A PP")
	field(OUTB, "$(dtype):$(areapos):REQ_TABLE_BIT1_CALC.A PP")
	field(OUTC, "$(dtype):$(areapos):REQ_TABLE_BIT2_CALC.A PP")
	field(OUTD, "$(dtype):$(areapos):REQ_TABLE_BIT3_CALC.A PP")
	field(OUTE, "$(dtype):$(areapos):REQ_TABLE_BIT4_CALC.A PP")
	field(OUTF, "$(dtype):$(areapos):REQ_TABLE_BIT5_CALC.A PP")
	field(OUTG, "$(dtype):$(areapos):REQ_TABLE_BIT6_CALC.A PP")
	field(OUTH, "$(dtype):$(areapos):REQ_TABLE_BIT7_CALC.A PP")
	field(SDIS, "$(dtype):$(areapos):REQ_TABLE_IN.PACT")
}

record(calcout, "$(dtype):$(areapos):REQ_TABLE_BIT0_CALC") {
	field(INPA, "$(dtype):$(areapos):REQ_TABLE_OUT")
	field(INPB, "$(dtype):$(areapos):TABLE_BIT0 MS")
	field(CALC, "B#(A&1)")
	field(DOPT, "Use OCAL")
	field(OOPT, "When Non-zero")
	field(OCAL, "A&1")
	field(OUT, "$(dtype):$(areapos):REQ_TABLE_BIT0 PP")
}

record(calcout, "$(dtype):$(areapos):REQ_TABLE_BIT1_CALC") {
	field(INPA, "$(dtype):$(areapos):REQ_TABLE_OUT")
	field(INPB, "$(dtype):$(areapos):TABLE_BIT1 MS")
	field(CALC, "B#((A>>1)&1)")
	field(DOPT, "Use OCAL")
	field(OOPT, "When Non-zero")
	field(OCAL, "(A>>1)&1")
	field(OUT, "$(dtype):$(areapos):REQ_TABLE_BIT1 PP")
}

record(calcout, "$(dtype):$(areapos):REQ_TABLE_BIT2_CALC") {
	field(INPA, "$(dtype):$(areapos):REQ_TABLE_OUT")
	field(INPB, "$(dtype):$(areapos):TABLE_BIT2 MS")
	field(CALC, "B#((A>>2)&1)")
	field(DOPT, "Use OCAL")
	field(OOPT, "When Non-zero")
	field(OCAL, "(A>>2)&1")
	field(OUT, "$(dtype):$(areapos):REQ_TABLE_BIT2 PP")
}

record(calcout, "$(dtype):$(areapos):REQ_TABLE_BIT3_CALC") {
	field(INPA, "$(dtype):$(areapos):REQ_TABLE_OUT")
	field(INPB, "$(dtype):$(areapos):TABLE_BIT3 MS")
	field(CALC, "B#((A>>3)&1)")
	field(DOPT, "Use OCAL")
	field(OOPT, "When Non-zero")
	field(OCAL, "(A>>3)&1")
	field(OUT, "$(dtype):$(areapos):REQ_TABLE_BIT3 PP")
}

record(calcout, "$(dtype):$(areapos):REQ_TABLE_BIT4_CALC") {
	field(INPA, "$(dtype):$(areapos):REQ_TABLE_OUT")
	field(INPB, "$(dtype):$(areapos):TABLE_BIT4 MS")
	field(CALC, "B#((A>>4)&1)")
	field(DOPT, "Use OCAL")
	field(OOPT, "When Non-zero")
	field(OCAL, "(A>>4)&1")
	field(OUT, "$(dtype):$(areapos):REQ_TABLE_BIT4 PP")
}

record(calcout, "$(dtype):$(areapos):REQ_TABLE_BIT5_CALC") {
	field(INPA, "$(dtype):$(areapos):REQ_TABLE_OUT")
	field(INPB, "$(dtype):$(areapos):TABLE_BIT5 MS")
	field(CALC, "B#((A>>5)&1)")
	field(DOPT, "Use OCAL")
	field(OOPT, "When Non-zero")
	field(OCAL, "(A>>5)&1")
	field(OUT, "$(dtype):$(areapos):REQ_TABLE_BIT5 PP")
}

record(calcout, "$(dtype):$(areapos):REQ_TABLE_BIT6_CALC") {
	field(INPA, "$(dtype):$(areapos):REQ_TABLE_OUT")
	field(INPB, "$(dtype):$(areapos):TABLE_BIT6 MS")
	field(CALC, "B#((A>>6)&1)")
	field(DOPT, "Use OCAL")
	field(OOPT, "When Non-zero")
	field(OCAL, "(A>>6)&1")
	field(OUT, "$(dtype):$(areapos):REQ_TABLE_BIT6 PP")
}

record(calcout, "$(dtype):$(areapos):REQ_TABLE_BIT7_CALC") {
	field(INPA, "$(dtype):$(areapos):REQ_TABLE_OUT")
	field(INPB, "$(dtype):$(areapos):TABLE_BIT7 MS")
	field(CALC, "B#((A>>7)&1)")
	field(DOPT, "Use OCAL")
	field(OOPT, "When Non-zero")
	field(OCAL, "(A>>7)&1")
	field(OUT, "$(dtype):$(areapos):REQ_TABLE_BIT7 PP")
}


record(calcout, "$(dtype):$(areapos):REQ_TABLE_IN") {
	field(DESC, "Table readback")
	field(INPA, "$(dtype):$(areapos):TABLE_BIT0 CP MS")
	field(INPB, "$(dtype):$(areapos):TABLE_BIT1 CP MS")
	field(INPC, "$(dtype):$(areapos):TABLE_BIT2 CP MS")
	field(INPD, "$(dtype):$(areapos):TABLE_BIT3 CP MS")
	field(INPE, "$(dtype):$(areapos):TABLE_BIT4 CP MS")
	field(INPF, "$(dtype):$(areapos):TABLE_BIT5 CP MS")
	field(INPG, "$(dtype):$(areapos):TABLE_BIT6 CP MS")
	field(INPH, "$(dtype):$(areapos):TABLE_BIT7 CP MS")
	field(CALC, "A+B*2+C*4+D*8+E*16+F*32+G*64+H*128")
	field(OUT, "$(dtype):$(areapos):REQ_TABLE PP MS")
	#field(SDIS, "$(dtype):$(areapos):REQ_TABLE_OUT.PACT")
}


record(longout, "$(dtype):$(areapos):REQ_SEG") {
	field(DESC, "Segment to read/write")
	field(VAL, "$(segval=1)")
	field(OUT, "$(dtype):$(areapos):REQ_SEG_OUT PP")
	field(HOPR, "128")
	field(LOPR, "0")
	field(PINI, "YES")
	info(autosaveFields, "VAL")
}

# The target PVs don't use the data, but this has 8 forward links,
# the number we need, while the fanout record only has 6.
record(dfanout, "$(dtype):$(areapos):REQ_SEG_OUT") {
	field(OUTA, "$(dtype):$(areapos):REQ_SEG_BIT0_CALC.A PP")
	field(OUTB, "$(dtype):$(areapos):REQ_SEG_BIT1_CALC.A PP")
	field(OUTC, "$(dtype):$(areapos):REQ_SEG_BIT2_CALC.A PP")
	field(OUTD, "$(dtype):$(areapos):REQ_SEG_BIT3_CALC.A PP")
	field(OUTE, "$(dtype):$(areapos):REQ_SEG_BIT4_CALC.A PP")
	field(OUTF, "$(dtype):$(areapos):REQ_SEG_BIT5_CALC.A PP")
	field(OUTG, "$(dtype):$(areapos):REQ_SEG_BIT6_CALC.A PP")
	field(OUTH, "$(dtype):$(areapos):REQ_SEG_BIT7_CALC.A PP")
	field(SDIS, "$(dtype):$(areapos):REQ_SEG_IN.PACT")
}

record(calcout, "$(dtype):$(areapos):REQ_SEG_BIT0_CALC") {
	field(INPA, "$(dtype):$(areapos):REQ_SEG_OUT")
	field(INPB, "$(dtype):$(areapos):SEG_BIT0 CP MS")
	field(CALC, "B#(A&1)")
	field(DOPT, "Use OCAL")
	field(OOPT, "When Non-zero")
	field(OCAL, "A&1")
	field(OUT, "$(dtype):$(areapos):REQ_SEG_BIT0 PP")
}

record(calcout, "$(dtype):$(areapos):REQ_SEG_BIT1_CALC") {
	field(INPA, "$(dtype):$(areapos):REQ_SEG_OUT")
	field(INPB, "$(dtype):$(areapos):SEG_BIT1 MS")
	field(CALC, "B#((A>>1)&1)")
	field(DOPT, "Use OCAL")
	field(OOPT, "When Non-zero")
	field(OCAL, "(A>>1)&1")
	field(OUT, "$(dtype):$(areapos):REQ_SEG_BIT1 PP")
}

record(calcout, "$(dtype):$(areapos):REQ_SEG_BIT2_CALC") {
	field(INPA, "$(dtype):$(areapos):REQ_SEG_OUT")
	field(INPB, "$(dtype):$(areapos):SEG_BIT2 MS")
	field(CALC, "B#((A>>2)&1)")
	field(DOPT, "Use OCAL")
	field(OOPT, "When Non-zero")
	field(OCAL, "(A>>2)&1")
	field(OUT, "$(dtype):$(areapos):REQ_SEG_BIT2 PP")
}

record(calcout, "$(dtype):$(areapos):REQ_SEG_BIT3_CALC") {
	field(INPA, "$(dtype):$(areapos):REQ_SEG_OUT")
	field(INPB, "$(dtype):$(areapos):SEG_BIT3 MS")
	field(CALC, "B#((A>>3)&1)")
	field(DOPT, "Use OCAL")
	field(OOPT, "When Non-zero")
	field(OCAL, "(A>>3)&1")
	field(OUT, "$(dtype):$(areapos):REQ_SEG_BIT3 PP")
}

record(calcout, "$(dtype):$(areapos):REQ_SEG_BIT4_CALC") {
	field(INPA, "$(dtype):$(areapos):REQ_SEG_OUT")
	field(INPB, "$(dtype):$(areapos):SEG_BIT4 MS")
	field(CALC, "B#((A>>4)&1)")
	field(DOPT, "Use OCAL")
	field(OOPT, "When Non-zero")
	field(OCAL, "(A>>4)&1")
	field(OUT, "$(dtype):$(areapos):REQ_SEG_BIT4 PP")
}

record(calcout, "$(dtype):$(areapos):REQ_SEG_BIT5_CALC") {
	field(INPA, "$(dtype):$(areapos):REQ_SEG_OUT")
	field(INPB, "$(dtype):$(areapos):SEG_BIT5 MS")
	field(CALC, "B#((A>>5)&1)")
	field(DOPT, "Use OCAL")
	field(OOPT, "When Non-zero")
	field(OCAL, "(A>>5)&1")
	field(OUT, "$(dtype):$(areapos):REQ_SEG_BIT5 PP")
}

record(calcout, "$(dtype):$(areapos):REQ_SEG_BIT6_CALC") {
	field(INPA, "$(dtype):$(areapos):REQ_SEG_OUT")
	field(INPB, "$(dtype):$(areapos):SEG_BIT6 MS")
	field(CALC, "B#((A>>6)&1)")
	field(DOPT, "Use OCAL")
	field(OOPT, "When Non-zero")
	field(OCAL, "(A>>6)&1")
	field(OUT, "$(dtype):$(areapos):REQ_SEG_BIT6 PP")
}

record(calcout, "$(dtype):$(areapos):REQ_SEG_BIT7_CALC") {
	field(INPA, "$(dtype):$(areapos):REQ_SEG_OUT")
	field(INPB, "$(dtype):$(areapos):SEG_BIT7 MS")
	field(CALC, "B#((A>>7)&1)")
	field(DOPT, "Use OCAL")
	field(OOPT, "When Non-zero")
	field(OCAL, "(A>>7)&1")
	field(OUT, "$(dtype):$(areapos):REQ_SEG_BIT7 PP")
}

record(calcout, "$(dtype):$(areapos):REQ_SEG_IN") {
	field(DESC, "Segment readback")
	field(INPA, "$(dtype):$(areapos):SEG_BIT0 CP MS")
	field(INPB, "$(dtype):$(areapos):SEG_BIT1 CP MS")
	field(INPC, "$(dtype):$(areapos):SEG_BIT2 CP MS")
	field(INPD, "$(dtype):$(areapos):SEG_BIT3 CP MS")
	field(INPE, "$(dtype):$(areapos):SEG_BIT4 CP MS")
	field(INPF, "$(dtype):$(areapos):SEG_BIT5 CP MS")
	field(INPG, "$(dtype):$(areapos):SEG_BIT6 CP MS")
	field(INPH, "$(dtype):$(areapos):SEG_BIT7 CP MS")
	field(CALC, "A+B*2+C*4+D*8+E*16+F*32+G*64+H*128")
	field(OUT, "$(dtype):$(areapos):REQ_SEG PP MS")
	field(SDIS, "$(dtype):$(areapos):REQ_SEG_OUT.PACT")
}

record(bi, "$(dtype):$(areapos):LED_X1") {
	field(DESC, "PPS-X1_LED")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 24, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "MAJOR")
	field(OSV,  "NO_ALARM")
  info(autosaveFields_pass0, "SEVR")
}

record(bi, "$(dtype):$(areapos):LED_X2") {
	field(DESC, "PPS-X2_LED")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 25, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "MAJOR")
	field(OSV,  "NO_ALARM")
  info(autosaveFields_pass0, "SEVR")
}

record(bi, "$(dtype):$(areapos):PWLED") {
	field(DESC, "ODM-Power_LED_A")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 26, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "MAJOR")
	field(OSV,  "NO_ALARM")
  info(autosaveFields_pass0, "SEVR")
}

record(bi, "$(dtype):$(areapos):RUNLED") {
	field(DESC, "ODM-Run_LED_A")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 27, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "MAJOR")
	field(OSV,  "NO_ALARM")
  info(autosaveFields_pass0, "SEVR")
}

record(bi, "$(dtype):$(areapos):DIAGLED") {
	field(DESC, "ODM-Diag_LED_A")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 28, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "NO_ALARM")
	field(OSV,  "NO_ALARM")
  info(autosaveFields_pass0, "SEVR")
}

record(bi, "$(dtype):$(areapos):FAULTLED") {
	field(DESC, "ODM-Fault_LED_A")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 29, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "NO_ALARM")
	field(OSV,  "MAJOR")
  info(autosaveFields_pass0, "SEVR")
}

record(bi, "$(dtype):$(areapos):IFAULTLED") {
	field(DESC, "ODM-IFault_LED_A")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 30, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "NO_ALARM")
	field(OSV,  "MAJOR")
  info(autosaveFields_pass0, "SEVR")
}

record(bi, "$(dtype):$(areapos):OFAULTLED") {
	field(DESC, "ODM-OFault_LED_A")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 31, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "NO_ALARM")
	field(OSV,  "MAJOR")
  info(autosaveFields_pass0, "SEVR")
}

record(bi, "$(dtype):$(areapos):TABLE_BIT7") {
	field(DESC, "Table Read bit 7")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 32, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "NO_ALARM")
	field(OSV,  "NO_ALARM")
  info(autosaveFields_pass0, "SEVR")
}

record(bi, "$(dtype):$(areapos):TABLE_BIT6") {
	field(DESC, "Table Read bit 6")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 33, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "NO_ALARM")
	field(OSV,  "NO_ALARM")
  info(autosaveFields_pass0, "SEVR")
}

record(bi, "$(dtype):$(areapos):TABLE_BIT5") {
	field(DESC, "Table Read bit 5")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 34, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "NO_ALARM")
	field(OSV,  "NO_ALARM")
  info(autosaveFields_pass0, "SEVR")
}

record(bi, "$(dtype):$(areapos):TABLE_BIT4") {
	field(DESC, "Table Read bit 4")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 35, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "NO_ALARM")
	field(OSV,  "NO_ALARM")
  info(autosaveFields_pass0, "SEVR")
}

record(bi, "$(dtype):$(areapos):TABLE_BIT3") {
	field(DESC, "Table Read bit 3")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 36, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "NO_ALARM")
	field(OSV,  "NO_ALARM")
  info(autosaveFields_pass0, "SEVR")
}

record(bi, "$(dtype):$(areapos):TABLE_BIT2") {
	field(DESC, "Table Read bit 2")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 37, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "NO_ALARM")
	field(OSV,  "NO_ALARM")
  info(autosaveFields_pass0, "SEVR")
}

record(bi, "$(dtype):$(areapos):TABLE_BIT1") {
	field(DESC, "Table Read bit 1")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 38, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "NO_ALARM")
	field(OSV,  "NO_ALARM")
  info(autosaveFields_pass0, "SEVR")
}

record(bi, "$(dtype):$(areapos):TABLE_BIT0") {
	field(DESC, "Table Read bit 0")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 39, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "NO_ALARM")
	field(OSV,  "NO_ALARM")
  info(autosaveFields_pass0, "SEVR")
}

record(bi, "$(dtype):$(areapos):SEG_BIT7") {
	field(DESC, "Segment Read bit 7")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 40, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "NO_ALARM")
	field(OSV,  "NO_ALARM")
  info(autosaveFields_pass0, "SEVR")
}

record(bi, "$(dtype):$(areapos):SEG_BIT6") {
	field(DESC, "Segment Read bit 6")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 41, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "NO_ALARM")
	field(OSV,  "NO_ALARM")
  info(autosaveFields_pass0, "SEVR")
}

record(bi, "$(dtype):$(areapos):SEG_BIT5") {
	field(DESC, "Segment Read bit 5")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 42, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "NO_ALARM")
	field(OSV,  "NO_ALARM")
  info(autosaveFields_pass0, "SEVR")
}

record(bi, "$(dtype):$(areapos):SEG_BIT4") {
	field(DESC, "Segment Read bit 4")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 43, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "NO_ALARM")
	field(OSV,  "NO_ALARM")
  info(autosaveFields_pass0, "SEVR")
}

record(bi, "$(dtype):$(areapos):SEG_BIT3") {
	field(DESC, "Segment Read bit 3")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 44, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "NO_ALARM")
	field(OSV,  "NO_ALARM")
  info(autosaveFields_pass0, "SEVR")
}

record(bi, "$(dtype):$(areapos):SEG_BIT2") {
	field(DESC, "Segment Read bit 2")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 45, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "NO_ALARM")
	field(OSV,  "NO_ALARM")
  info(autosaveFields_pass0, "SEVR")
}

record(bi, "$(dtype):$(areapos):SEG_BIT1") {
	field(DESC, "Segment Read bit 1")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 46, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "NO_ALARM")
	field(OSV,  "NO_ALARM")
  info(autosaveFields_pass0, "SEVR")
}

record(bi, "$(dtype):$(areapos):SEG_BIT0") {
	field(DESC, "Segment Read bit 0")
	field(SCAN, "I/O Intr")
	field(DTYP, "asynUInt32Digital")
	field(INP,  "@asynMask($(port_rd), 47, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
	field(ZSV,  "NO_ALARM")
	field(OSV,  "NO_ALARM")
  info(autosaveFields_pass0, "SEVR")
}


record(bo, "$(dtype):$(areapos):REQ_TABLE_BIT7") {
	field(DESC, "Table Request bit 7")
	field(DTYP, "asynUInt32Digital")
	field(OUT,  "@asynMask($(port_wrt), 32, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
}

record(bo, "$(dtype):$(areapos):REQ_TABLE_BIT6") {
	field(DESC, "Table Request bit 6")
	field(DTYP, "asynUInt32Digital")
	field(OUT,  "@asynMask($(port_wrt), 33, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
}

record(bo, "$(dtype):$(areapos):REQ_TABLE_BIT5") {
	field(DESC, "Table Request bit 5")
	field(DTYP, "asynUInt32Digital")
	field(OUT,  "@asynMask($(port_wrt), 34, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
}

record(bo, "$(dtype):$(areapos):REQ_TABLE_BIT4") {
	field(DESC, "Table Request bit 4")
	field(DTYP, "asynUInt32Digital")
	field(OUT,  "@asynMask($(port_wrt), 35, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
}

record(bo, "$(dtype):$(areapos):REQ_TABLE_BIT3") {
	field(DESC, "Table Request bit 3")
	field(DTYP, "asynUInt32Digital")
	field(OUT,  "@asynMask($(port_wrt), 36, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
}

record(bo, "$(dtype):$(areapos):REQ_TABLE_BIT2") {
	field(DESC, "Table Request bit 2")
	field(DTYP, "asynUInt32Digital")
	field(OUT,  "@asynMask($(port_wrt), 37, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
}

record(bo, "$(dtype):$(areapos):REQ_TABLE_BIT1") {
	field(DESC, "Table Request bit 1")
	field(DTYP, "asynUInt32Digital")
	field(OUT,  "@asynMask($(port_wrt), 38, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
}

record(bo, "$(dtype):$(areapos):REQ_TABLE_BIT0") {
	field(DESC, "Table Request bit 0")
	field(DTYP, "asynUInt32Digital")
	field(OUT,  "@asynMask($(port_wrt), 39, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
}

record(bo, "$(dtype):$(areapos):REQ_SEG_BIT7") {
	field(DESC, "Segment Request bit 7")
	field(DTYP, "asynUInt32Digital")
	field(OUT,  "@asynMask($(port_wrt), 40, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
}

record(bo, "$(dtype):$(areapos):REQ_SEG_BIT6") {
	field(DESC, "Segment Request bit 6")
	field(DTYP, "asynUInt32Digital")
	field(OUT,  "@asynMask($(port_wrt), 41, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
}

record(bo, "$(dtype):$(areapos):REQ_SEG_BIT5") {
	field(DESC, "Segment Request bit 5")
	field(DTYP, "asynUInt32Digital")
	field(OUT,  "@asynMask($(port_wrt), 42, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
}

record(bo, "$(dtype):$(areapos):REQ_SEG_BIT4") {
	field(DESC, "Segment Request bit 4")
	field(DTYP, "asynUInt32Digital")
	field(OUT,  "@asynMask($(port_wrt), 43, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
}

record(bo, "$(dtype):$(areapos):REQ_SEG_BIT3") {
	field(DESC, "Segment Request bit 3")
	field(DTYP, "asynUInt32Digital")
	field(OUT,  "@asynMask($(port_wrt), 44, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
}

record(bo, "$(dtype):$(areapos):REQ_SEG_BIT2") {
	field(DESC, "Segment Request bit 2")
	field(DTYP, "asynUInt32Digital")
	field(OUT,  "@asynMask($(port_wrt), 45, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
}

record(bo, "$(dtype):$(areapos):REQ_SEG_BIT1") {
	field(DESC, "Segment Request bit 1")
	field(DTYP, "asynUInt32Digital")
	field(OUT,  "@asynMask($(port_wrt), 46, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
}

record(bo, "$(dtype):$(areapos):REQ_SEG_BIT0") {
	field(DESC, "Segment Request bit 0")
	field(DTYP, "asynUInt32Digital")
	field(OUT,  "@asynMask($(port_wrt), 47, 1, 1)")
	field(ZNAM, "Off")
	field(ONAM, "On")
}
