record(bo, "$(dtype):$(areapos):$(attribute)") {
  field(DESC, "$(description)")
  field(DTYP, "asynUInt32Digital")
  field(OUT,  "@asynMask($(port), $(word), $(bitmask), 1)")
  field(ZNAM, "$(zname)")
  field(ONAM, "$(oname)")
}

